$palette-blue-1:    #327CCB;
$palette-blue-2:    #5A96D6;
$palette-blue-3:    #d1e2f3;

$palette-red:       #CC333F;
$palette-green:     #2ECC71;
$palette-yellow:    #F9C23E;
$palette-orange:    #EB6841;

$palette-gray-1:    #424242;
$palette-gray-2:    #64555B;
$palette-gray-3:    #F8F8F8;
