$style-inset-highlight-top: inset 0 1px rgba(255, 255, 255, 0.25);
$style-inset-highlight-bottom: inset 0 -1px rgba(255, 255, 255, 0.25);

$style-inset-shadow-top: inset 0 1px rgba(0, 0, 0, 0.25);
$style-inset-shadow-bottom: inset 0 -1px rgba(0, 0, 0, 0.25);

$style-text-highlight: 0 1px 0 rgba(255, 255 , 255, 0.25);
$style-text-shadow: 0 -1px 0 rgba(0, 0 ,0 , 0.25);

$style-layer-shadow: 0 2px 5px rgba(0, 0, 0, 0.25), 0 0 2px rgba(0, 0, 0, 0.15);