%select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

%visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  margin: -1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
}
